body {
}

#main, #char-select, #back-ground {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}

#char-select {
  z-index: 1;
}

#back-ground {
  z-index: -1;
}
