body {
}

#main, #char-select, #back-ground, #player-canvas, #object-canvas {
  position: absolute;
  right: 33%;
  z-index: 0;
}

#player-canvas {
  z-index: 1;
}

#char-select {
  z-index: 2;
}

#back-ground {
  z-index: -1;
}
