body {
}

#main, #game-option, #back-ground, #player-canvas, #object-canvas {
  position: absolute;
  right: 33%;
  z-index: 0;
}

#player-canvas {
  z-index: 1;
}

#game-option {
  z-index: 2;
}

#back-ground {
  z-index: -1;
}
